.box-button {
    width: 100%;
    padding: 10px;
    margin-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blue;
}

.box-button:hover {
    cursor: pointer;
}

.box-button {
    font-size: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    color: aliceblue;
}

.box-button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}
