.posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  gap: 2rem;
}

.post {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post > img {
  max-width: 100%;
}

.post-content {
  padding: 15px;
}
